@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


body {
    background-color: #ddcece;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .nav-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav .nav-logo img {
    max-width: 5rem;
}

.nav .nav-logo h1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav .nav-logo h1 b {
    color: #ad2f2f;
}

.nav .nav-links a{
    padding: 1rem 1rem;
    font-size: 1.4rem;
    font-weight: 600;

    position: relative;
    text-decoration: none;
}

.nav .nav-links a:before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 6px;
    width: 0;
    background: #4070f4;
    border-radius: 50px;
    transition: width 0.3s ease;
}

.nav .nav-links a:hover::before {
    width: 60%;
}

.nav .nav-home-button a i {
    font-size: 1.5rem;
    padding: 1rem;
}

.header {
    height: 600px;
    display: flex;
    align-items: center;
}

.header .header-content, .header .header-img {
    width: 50%;
}

.header .header-content small {
    font-size: 1.2rem;
    font-weight: 600;
}

.header .header-content h1 {
    font-size: 4rem;
}

.header .header-img img {
    max-width: 400px;
}

.card-header {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}

.card-container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.card {
    color: #646464;
    background-color: #e9d9d9dc;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border: solid #ccc6c6;
    opacity: 0.8;
}

.card:hover {
    opacity: 1;
    transition: all 0.1s ease;
}

.card span {
    display: flex;
    justify-content: center;
}

.card span i {
    color: #ad2f2f;
    font-size: 2rem;
    /* font-weight: 900; */
    
}

.card h3 {
    color: rgb(32, 99, 145);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

.card p {
    margin-bottom: 20px;
}

.card .card-link {
    display: flex;
    justify-content: center;
    
}

.card .card-link a {
    color: #fff;
    background-color: rgb(50, 72, 192);
    padding: 1rem;
    border-radius: 20px;
}

.card .card-link a:hover {
    text-decoration: underline;
}

@media (width < 960px) {
    .container {
        max-width: 960px;
    }

    .nav .nav-links, .nav .nav-home-button {
        display: none;
    }

    .header {
        height: 300px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .header .header-content, .header .header-img {
        width: 100%;
        text-align: center;
    }
    
    .header .header-content small {
        font-size: 1.2rem;
        font-weight: 600;
    }
    
    .header .header-content h1 {
        font-size: 3rem;
    }
    
    .header .header-img img {
        max-width: 100px;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin: 0 1.5rem;
    }
}

@media (width < 600px ) {
    .container {
        max-width: 600px;
    }

    .card-container {
        grid-template-columns: repeat(1, 1fr);

    }
}
